<html>
  <body>
    <div class="slidecontainerX">
      <input type="range" min="0" max="256" value="128" class="slider1" id="indexX" oninput='functionX()'> <output> 100 <span id="demoX"></span></output>
    </div>
    <div class="slidecontainerY">
      <input type="range" min="0" max="42" value="21" class="slider2" id="indexY" oninput='functionY()'> <output> 100 <span id="demoY"></span></output>
    </div>
    <div class="slidecontainerZ"> 
      <input type="range" min="0" max="256" value="128" class="slider3" id="indexZ" oninput='functionZ()'> <output> 100 <span id="demoZ"></span></output>
    </div> 
    <div class ="volumeChange">
      <form>
        Lower Threshold:
        <input type="number" name="lowerThreshold" value=18850 oninput=""><br>

        Upper Threshold:
        <input type="number" name="upperThreshold" value=25337 oninput=""><br>

        Window Low:
        <input type="number" name="windowLow" value=18850 oninput=""><br>

        Window High:  
        <input type="number" name="windowHigh" value=25337 oninput=""><br>
        <input type="reset">
      </form>
    </div> 
  </body>
</html>